<%= link_to current_user do %>
  <img class="user_image" src="<%= "/user_images/#{current_user.image_name}" %>">
<% end %>
<h1><%= current_user.user_name %></h1>
<span><%= link_to "プロフィール", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "の投稿") %></span>